<div class="container p-5">
  <h2>My Bookings</h2>
    <div class="cards_bookings">
      <% @user.bookings.each do |booking| %>
        <div class="card-booking">
          <% if booking.cat.photo.attached? %>
            <%= cl_image_tag booking.cat.photo.key, height: 150, width: 150, crop: :fill %>
          <% end %>
          <br>
          <div>
            <div class="container-booking">
              <h4>
                <%= booking.cat.name %>
              </h4>
              <p>
                From <%=  booking.start_date %>
              <br>
                To <%= booking.end_date %>
              </p>
              <%= link_to "Cancel booking",
                booking_path(booking),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "button-cancel"
              %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
