
<%# ---Banner start--- %>
<div class="banner">
  <div class="container">
    <h1>PAWsitive</h1>
    <%# <h3>Change your life. Rent a cat today.</h3> %>
    <p class="typed-js" data-controller="typed-js">Change your life. Rent a cat today.</p>
    <br>
    <a class="btn-apply" href="#our-cats">Book right meow!</a>
  </div>
</div>
<%# ---banner end--- %>

<div class="container" id="our-cats">
  <div class="header">
    <h2 >Our Cats</h2>
    <%= form_with url: cats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a cat"
  %>
  <%= submit_tag "Search", class: "btn btn-secondary btn-sm" %>
<% end %>
  </div>
  <div class="cards">
    <% @cats.each do |cat| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to cat_path(cat), class:"text-decoration-none" do %>
          <div class="card" data-aos="zoom-in">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, height: 150, width: 150, crop: :fill %>
            <% end %>
            <br>
            <h5 class="text-center" ><%= cat.name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
