<h1>Name: <%= @cat.name %></h1>
<h2>Age: <%= @cat.age %></h2>
<p><%= @cat.description %></p>

  <%= link_to "Edit #{@cat.name}", edit_cat_path(@cat) %>
  <br>
  <%= link_to "Delete #{@cat.name}", cat_path(@cat), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
  <br>
  <%= link_to "Back to all cats", cats_path %>
</div>

<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>

