<h1><%= @cat.name %></h1>
<p><%= @cat.age %></p>
<p><%= @cat.description %></p>

  <%= link_to "Edit #{@cat.name}", edit_cat_path(@cat) %>
  <br>
  <%= link_to "Delete #{@cat.name}", cat_path(@cat), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
  <br>
  <%= link_to "Back to all cats", cats_path %>
</div>
<% if @cat.photo.attached? %>
<%= cl_image_tag @cat.photo.key, height: 300, width: 400, crop: :fill %>

<% end %>
